.demo-form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.template-forms, .reactive-forms {
  width: 40%;
  margin: 0 2em;
}

.form-name {
  height: 2em;
  color: white;
  background: lightslategray;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  line-height: 2em;
  margin-bottom: 1em;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  width: 100%;
}

.example-container > * {
  width: 100%;
}

.mat-raised-button.mat-primary {
  font-size: 1.2em;
  background-color: lightseagreen;
  display: block;
  margin: 0 auto;

}

.checkbox {
  margin-bottom: 1em;
}

.reactive-controls-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.reactive-observable-container {
  margin: 2em auto;
  width: 50%;
}

mat-card-subtitle {
  margin: 2em 0;
}

mat-card-subtitle > div {
  padding: 1em 0;
  font-size: 1.5em;
}

.disabled-status {
  color: lightseagreen;
  float: right;
}